<h1 *ngIf="isAddProfessional" class="text-center">Ajouter un professionnel</h1>
<h1 *ngIf="!isAddProfessional" class="text-center">Modifier le professionnel</h1>

<div class="row d-flex justify-content-center">
  <form class="needs-validation col-6"  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-sm-6">
        <label>Prénom</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>

      <div class="col-sm-6">
        <label>Nom</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="col-sm-12">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="col-sm-12">
        <label>Téléphone</label>
        <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>
        </div>
      </div>

      <div class="col-12">
        <label>Adresse</label>
        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>

      <div class="col-md-12">
        <label>Profession</label>
        <select formControlName="profession" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profession.errors }" >
          <option value="">Choisir...</option>
          <option *ngFor="let profession of professions | keyvalue" [ngValue]="profession.value">{{profession.value}}</option>
        </select>
        <div *ngIf="submitted && f.profession.errors" class="invalid-feedback">
          <div *ngIf="f.profession.errors.required">Role is required</div>
        </div>
      </div>
    </div>
    <div class="form-group my-5">
      <button mat-raised-button color="primary" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sauvgarder
      </button>
      <button mat-raised-button [disabled]="loading" routerLink="/" class="mx-2">Annuler</button>
    </div>
  </form>
</div>

